body{
 margin:10px 100px 100px 10px;
 background-color:#FFFFFF;
}

div {
 border-radius: 5px;
}

#header{
 margin:20px 200px 20px 10px;
 font-family:Impact, sans-serif;
 font-size:20px;
}

hr{
 border: 2px solid black;
}

#contact{
 font-family:Arial, sans-serif;
 float:left;
 margin: 5px 200px 10px 10px;
 padding: 10px;
 font-size: 16px;
 font-family: Verdana, sans-serif;
 color: #000000;
 display:block;
}

img{
  top:10px;
  position: absolute;
  padding:20px 30px 0px 0px;
  width: 200px;
  height: 200px;
  right:13px;
  transform: rotate(-7deg);
}

h3 {
 font-family:Arial;
	margin: 5px 10px;
	width: 100px;
	height: 60px;
	padding:30px 20px;
	border-right: 2px solid black;
}

td{
 font-family:Times, serif;
}



© 2015 Microsoft Terms Privacy & cookies Developers English (United States)